comment "Collection of Oculus Driver"
menu "Oculus Drivers"

config AS5510
	tristate "AS5510 Hall Effect Sensor i2c driver"
	default n
	depends on OCULUS
	help
	  This driver sets up a regmap to read sensor values.

	  With this sensor, can measure IPD. Look at regs 0x0-0x1.
	  Here is spec sheet:
	  http://www.mouser.com/ds/2/588/AS5510_Datasheet_EN_v3-272817.pdf

config BATTERY_VIRTUAL_SENSOR
	tristate "Battery Virtual Sensor Driver"
	default n
	depends on OCULUS
	select VIRTUAL_SENSOR_UTILS
	help
	  This driver implements a virtual sensor driver representing the
	  battery temperature of a device.

config BLU_FW
	tristate "Support BLU FW Updates"
	default n
	depends on OCULUS
	---help---
	  Allow automatic/OTA FW updates for the backlight MCU.

config CHARGER_CYPD3177
	tristate "CONFIG_CYPD3177 support"
	default n
	help
	  Say Y here to enable support for batteries with CYPD3177 chips connected
	  over an I2C bus. This driver registers with the power supply class and
	  advertises itself as a wireless power supply. CYPD3177 controller takes
	  care of PD contract negotiation and advertises state changes via GPIO
	  interrupts.

config CYPD_POLICY_ENGINE
	tristate "Cypress Power Delivery Policy Engine"
	default n
	help
	  Say Y here to enable CYPD policy engine. This driver implements policy
	  for handling power delivery messages. This is based on the USB Power
	  Delivery protocol with some CYPD3177 BCR specific behavior such as
	  defaulting to sink only mode. This driver depends on a CYPD 3177
	  controller device driver in order to transmit and receive PD messages
	  on its behalf.

config DEPTH_PROJECTOR
	tristate "Depth Projector Kernel Driver"
	default n
	depends on OCULUS
	help
	  Depth Projector Kernel Module to set default gpio values.
	  This driver sets SWD_IO and SWD_CLK to high impedance mode

config DISPLAY_VIRTUAL_SENSOR
	tristate "Display Virtual Sensor Driver"
	default n
	depends on OCULUS
	select VIRTUAL_SENSOR_UTILS
	help
	  This driver implements a virtual sensor driver representing the
	  display temperature of a device.

config EYE_FACE_LED
	tristate "Eye Face Led Kernel Driver"
	default n
	depends on OCULUS
	help
	  Eye Face LED Kernel Module to set default gpio values.
	  This driver sets XERR and SAFETY_FLAG to input-enable & bias-disable

config FPGA_AGGREGATOR
	tristate "FPGA Aggregator Kernel Driver"
	default n
	depends on OCULUS
	help
	  FPGA aggregator kernel module that controls the regulators
	  for the FPGA hardware.

config FRONT_PANEL_SENSOR
	tristate "Front Panel Virtual Sensor Driver"
	default n
	depends on OCULUS
	select VIRTUAL_SENSOR_UTILS
	help
	  This driver implements a virtual sensor driver representing the front
	  panel skin temperature of a device.

config HYPERVISOR_GUEST
	tristate "Hypervisor Guest Kernel Module"
	default n
	depends on OCULUS
	help
	  Hypervisor Guest Kernel Module responsible for mapping memory, issuing
	  hypercalls, and exposing an IOCTL interface to user mode.
	  During boot the driver claims ownership of device memory, as specified
	  in the device tree. These regions provide intermediate physical address
	  space that can in turn contain mappings for circular queues and other
	  IPC structures.
	  The driver also installs an interrupt handler to handle port wake-ups
	  posted by the hypervisor.

config MISCFIFO
	tristate "miscfifo chardev driver"
	default n
	depends on OCULUS
	---help---
	  Like seqfile, this driver provides file operations to
	  easily implement a chardev backed by a kfifo.

	  Drivers using this chardev only have to call one of the
	  send() functions to deliver events to userspace.

config MISCFIFO_SAMPLE
	tristate "miscfifo chardev driver example"
	default n
	depends on OCULUS
	---help---
	  Example usage of miscfifo chardev driver

config MOLOKINI
	tristate "Molokini usbpd driver"
	default n
	depends on OCULUS
	help
	  Molokini usbpd kernel module for registering unstructured vdm messages.
	  Messages will be sent with host device acting as a source and a sink to
	  Molokini.
	  Also creates debugfs nodes to advertise Molokini battery parameters.

config NAUTILUS_CLK
	tristate "NAUTILUS CLK CONTROL Kernel Driver"
	default n
	depends on OCULUS
	help
	  Enable support for controlling the nautilus device clock

config OCULUS
	bool "Oculus feature support"
	default y
	---help---
	  Enable support for Oculus drivers and features

config OCULUS_EUREKA865
	bool "Enable support for eureka865 device"
	default n
	depends on OCULUS
	select ARCH_KONA
	---help---
	  Enable support for the eureka865 device

config OCULUS_HOLLYWOOD
	bool "Enable support for hollywood device"
	default n
	depends on OCULUS
	select ARCH_KONA
	---help---
	  Enable support for the hollywood device

config OCULUS_unknown1
	bool "Enable support for unknown1 device"
	default n
	depends on OCULUS
	select ARCH_KONA
	---help---
	  Enable support for the unknown1 device

config INSTRUCTION_SAMPLER
	tristate "Periodic instruction sampler"
	depends on OCULUS && EVENT_TRACING && CONTEXT_SWITCH_TRACER && ARM64
	help
	  Provides support for periodic instruction sampling of processes
	  running on the system.

config TOP_PANEL_SENSOR
	tristate "Top Panel Virtual Sensor Driver"
	default n
	depends on OCULUS
	select VIRTUAL_SENSOR_UTILS
	help
	  This driver implements a virtual sensor driver representing the top
	  panel skin temperature of a device.

config unknown1_BLU
	tristate "Oculus unknown1 SPI BLU Driver"
	depends on OCULUS
	default n
	---help---
	  Oculus unknown1 SPI BLU Driver for the BOE panels

config SYNCBOSS
	tristate "Oculus SyncBoss Driver"
	depends on OCULUS && MISCFIFO && SPI
	default y
	---help---
	  Oculus SyncBoss Driver

config SYNCBOSS_CAMERA_CONTROL
	bool "Support Syncboss camera control"
	depends on OCULUS && SYNCBOSS
	default y
	---help---
	  Allow Syncboss driver to control camera hardware

config VIRTUAL_SENSOR_UTILS
	tristate "Virtual Sensor Utilities"
	default n
	depends on OCULUS
	---help---
	  This driver implements virtual thermal sensor helper functionality.

endmenu
