comment "Collection of Oculus Driver"
menu "Oculus Drivers"

config MISCFIFO
	tristate "miscfifo chardev driver"
	default n
	---help---
	  Like seqfile, this driver provides file operations to
	  easily implement a chardev backed by a kfifo.

	  Drivers using this chardev only have to call one of the
	  send() functions to deliver events to userspace.

config MISCFIFO_SAMPLE
	tristate "miscfifo chardev driver example"
	default n
	---help---
	  Example usage of miscfifo chardev driver

config SYNCBOSS
	tristate "Oculus SyncBoss Driver"
	depends on MISCFIFO && SPI
	default y
	---help---
	  Oculus SyncBoss Driver

config SYNCBOSS_CAMERA_CONTROL
	bool "Support Syncboss camera control"
	depends on SYNCBOSS
	default y
	---help---
	  Allow Syncboss driver to control camera hardware

config SYNCBOSS_NUM_CAMERAS
	int
	prompt "Number of cameras in Oculus Syncboss"
	depends on SYNCBOSS
	default 4
	---help---
	  Number of cameras used in Oculus Syncboss driver
endmenu
