/*
 * Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
&soc {
	oculus,rt600_ctrl {
		pinctrl-names = "default", "flashing", "soc_active";
		pinctrl-0 = <&rt600_boot0_high
				&rt600_boot1_high
				&rt600_boot2_low>;
		pinctrl-1 = <&rt600_boot0_low
				&rt600_boot1_high
				&rt600_boot2_high>;
		pinctrl-2 = <&rt600_boot0_low
				&rt600_boot1_high
				&rt600_boot2_high>;

	};

	oculus,cam_fsync {
		status = "disabled";
	};

	oculus,hw-debug {
		status = "disabled";
	};
};

/* Use higher drive on Dev 0 to get around of pull up from FTDI mux */
&blsp2_uart1_active {
	mux {
		pins = "gpio16", "gpio17";
		function = "blsp_uart5";
	};

	config {
		pins = "gpio16", "gpio17";
		drive-strength = <16>;
		bias-disable;
	};
};

&blsp2_uart1_unused {
	config {
		/delete-property/ bias-pull-down;
		bias-disable;
	};
};

&eeprom_spyro0  {
	status = "disabled";
};

&eeprom_spyro1  {
	status = "disabled";
};

&cci {
	pinctrl-0 = <&cci0_active &cci1_active>;
	pinctrl-1 = <&cci0_suspend &cci1_suspend>;
	gpios = <&tlmm 29 0>,
	<&tlmm 30 0>,
	<&tlmm 31 0>,
	<&tlmm 32 0>;
	qcom,gpio-tbl-num = <0 1 2 3>;
	qcom,gpio-tbl-flags = <1 1 1 1>;
	qcom,gpio-tbl-label = "CCI_I2C_DATA0",
				"CCI_I2C_CLK0",
				"CCI_I2C_DATA1",
				"CCI_I2C_CLK1";

	qcom,camera@1 {
		qcom,cci-master = <1>;
	};
};

&spi_8 {
	spi-stp@0 {
		mcu-ready  = <&tlmm 72 0>;
	};
};

&spi8_default {
	config {
		drive-strength = <12>; /* 12 MA */
	};
};


&i2c_2 {
	fan49103-bob@0 {
		status = "ok";
	};

	tps63811-bob@75 {
		status = "disabled";
	};
};

&pm660_l15 {
  regulator-min-microvolt = <2200000>;
  regulator-max-microvolt = <3400000>;
  qcom,init-voltage = <2200000>;
  regulator-always-on;
  regulator-boot-on;
  status = "ok";
};


&sdc2_clk_on {
  config {
    drive-strength = <16>;
  };
};

&sdc2_cmd_on {
  config {
    drive-strength = <16>;
  };
};

&sdc2_data_on {
  config {
    drive-strength = <16>;
  };
};

&brcmf {
	nvram = "brcmfmac43012-sdio.txt";
};

&cam_sensor_mclk0_default {
	config {
		drive-strength = <2>;
	};
};

&cam_sensor_mclk0_sleep {
	config {
		drive-strength = <2>;
	};
};

&cam_sensor_mclk1_default {
	config {
		drive-strength = <2>;
	};
};

&cam_sensor_mclk1_sleep {
	config {
		drive-strength = <2>;
	};
};

&pm660_fg {
	qcom,fg-empty-voltage = <3400>;
};
