// SPDX-License-Identifier: GPL-2.0

&qupv3_se11_i2c {
	pac1934_0: pac1934@10 {
		compatible = "microchip,pac1934";
		pac193x,pwrdn_gpio = <&tlmm 102 0x0>;
		reg = <0x10>;
		samp-rate = <1024>;
		status = "okay";

		rail1 {
			rail-name = "rail1";
			subsys-name = "VPH_S7S8S9A";
			uohms-shunt-res = <10000>;
			channel_enabled;
		};

		rail2 {
			rail-name = "rail2";
			subsys-name = "VPH_S10A";
			uohms-shunt-res = <10000>;
			channel_enabled;
		};

		rail3 {
			rail-name = "rail3";
			subsys-name = "VPH_S1S2S3A";
			uohms-shunt-res = <10000>;
			channel_enabled;
		};

		rail4 {
			rail-name = "rail4";
			subsys-name = "L3A";
			uohms-shunt-res = <5000>;
			channel_enabled;
		};
	};

	pac1934_1: pac1934@1f {
		compatible = "microchip,pac1934";
		reg = <0x1f>;
		samp-rate = <1024>;
		status = "okay";

		rail1 {
			rail-name = "rail1";
			subsys-name = "VPH_S3C";
			uohms-shunt-res = <10000>;
			channel_enabled;
		};

		rail2 {
			rail-name = "rail2";
			subsys-name = "VPH_S7C";
			uohms-shunt-res = <10000>;
			channel_enabled;
		};

		rail3 {
			rail-name = "rail3";
			subsys-name = "S1H";
			uohms-shunt-res = <5000>;
			channel_enabled;
		};

		rail4 {
			rail-name = "rail4";
			subsys-name = "VPH_S1S2C";
			uohms-shunt-res = <10000>;
			channel_enabled;
		};
	};
};
