CONFIG_CNSS_KIWI := y
CONFIG_CNSS_KIWI_V2 := y

ifeq ($(CONFIG_ARCH_SDXPINN), y)
CONFIG_MOBILE_ROUTER := y
CONFIG_WLAN_SYSFS := y
endif

include $(WLAN_ROOT)/configs/default_defconfig

#Enable 11BE EHT
CONFIG_WLAN_FEATURE_11BE := y

#Enable IPA Optional wifi datapath feature
ifeq ($(CONFIG_ARCH_PINEAPPLE), y)
CONFIG_IPA_OPT_WIFI_DP := y
CONFIG_IPA_OFFLOAD := y
CONFIG_ENABLE_SMMU_S1_TRANSLATION := y
CONFIG_SMMU_S1_UNMAP := y
endif

# Enable EHT rate sysfs entry
ifeq ($(CONFIG_WLAN_SYSFS), y)
CONFIG_WLAN_SYSFS_EHT_RATE := y
endif

# Max Sta Vdev Config
CONFIG_CFG_MAX_STA_VDEVS := 4

#Enable 11BE MLO
CONFIG_WLAN_FEATURE_11BE_MLO := y

#Enable Peer table transition history
CONFIG_WLAN_FEATURE_PEER_TRANS_HIST := y

#Enable Single NDEV Multi VDEV
CONFIG_WLAN_HDD_MULTI_VDEV_SINGLE_NDEV := y

#BMISS offload max vdev config
CONFIG_CFG_BMISS_OFFLOAD_MAX_VDEV := 4

#Max MLD dev context
CONFIG_WLAN_UMAC_MLO_MAX_DEV := 3

#Chip version
CONFIG_CHIP_VERSION := 2

#DP configs
CONFIG_WLAN_DP_DISABLE_TCL_CMD_CRED_SRNG := y
CONFIG_WLAN_DP_DISABLE_TCL_STATUS_SRNG := y

# Enable separate FW image
CONFIG_GET_DRIVER_MODE := y

CONFIG_QCA_SUPPORT_TX_MIN_RATES_FOR_SPECIAL_FRAMES := y

#Enable COEX feature
CONFIG_FEATURE_COEX := y

#Enable DBAM feature
ifeq ($(CONFIG_FEATURE_COEX), y)
CONFIG_WLAN_FEATURE_COEX_DBAM := y
endif

CONFIG_DP_TRAFFIC_END_INDICATION := y

#Enable Constrained Application Protocol feature
CONFIG_WLAN_FEATURE_COAP := y

#Enable TSF read using scratch register
CONFIG_QCA_GET_TSF_VIA_REG := y

CONFIG_WLAN_FEATURE_AFFINITY_MGR := y

#Enable per link stats support
CONFIG_DP_MLO_LINK_STATS_SUPPORT := y

CONFIG_QCA_DFS_BW_PUNCTURE := y

ifeq ($(CONFIG_ARCH_SDXPINN), y)
CONFIG_WLAN_UMAC_MLO_MAX_DEV := 4

CONFIG_DP_FEATURE_HW_COOKIE_CONVERSION := n
CONFIG_DP_HW_COOKIE_CONVERT_EXCEPTION := n
CONFIG_DP_MEM_PRE_ALLOC := n
CONFIG_MORE_TX_DESC := n

CONFIG_WIFI_MONITOR_SUPPORT := n
CONFIG_QCA_MONITOR_PKT_SUPPORT := n
CONFIG_MONITOR_MODULARIZED_ENABLE := y

CONFIG_QCACLD_FEATURE_NAN := n
CONFIG_FEATURE_EPPING := n
CONFIG_FEATURE_P2P_LISTEN_OFFLOAD := n
CONFIG_WLAN_CFR_ENABLE := n

CONFIG_BEACON_TX_OFFLOAD_MAX_VDEV := 4
CONFIG_NUM_IPA_IFACE := 4
CONFIG_MAX_CLIENTS_ALLOWED := 64

CONFIG_QDF_MAX_NO_OF_SAP_MODE := 4

ifeq ($(CONFIG_IPA_OFFLOAD), y)
CONFIG_ENABLE_SMMU_S1_TRANSLATION := y
CONFIG_SMMU_S1_UNMAP := y
CONFIG_IPA_WDI3_TX_TWO_PIPES := y
endif # IPA_OFFLOAD

CONFIG_WLAN_SYSFS_RANGE_EXT := n

CONFIG_WLAN_FEATURE_RX_BUFFER_POOL := y
CONFIG_DP_RX_REFILL_BUFF_POOL_SIZE := 256
CONFIG_DP_RX_REFILL_THRD_THRESHOLD := 128

CONFIG_WLAN_FEATURE_COAP := n

endif # ARCH_SDXPINN

ifeq ($(CONFIG_ARCH_PINEAPPLE), y)
CONFIG_WLAN_TX_MON_2_0 := y
CONFIG_WLAN_DP_LOCAL_PKT_CAPTURE := y
endif

CONFIG_WLAN_FEATURE_LL_LT_SAP := y
