// SPDX-License-Identifier: GPL-2.0

/dts-v1/;
/plugin/;

#include "eureka865.dtsi"
#include "eureka865-dev.dtsi"

/ {
	model = "Eureka865 (Dev0.5)";
	compatible = "qcom,kona";
	qcom,board-id = <68 145>;
};

