// SPDX-License-Identifier: GPL-2.0

&qupv3_se10_i2c {
	status = "ok";

	pca9543: pca9543@70 {
		compatible = "nxp,pca9543";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			blu-i2c-left@28 {
				compatible = "oculus,blu-i2c";
				reg = <0x28>;
				status = "ok";
			};
		};

		i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			blu-i2c-right@28 {
				compatible = "oculus,blu-i2c";
				reg = <0x28>;
				status = "ok";
			};
		};
	};
};

&vendor {
	blu: oculus,blu {
		status = "ok";
		compatible = "oculus,blu";
		boot-gpios = <&tlmm 124 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&tlmm 123 GPIO_ACTIVE_HIGH>;
	};
};
