// SPDX-License-Identifier: GPL-2.0

#include "granola-jbd2520-display-common.dtsi"
#include "granola-nff1-display-gpios.dtsi"

&i2c_mux {
	mux-gpios = <&tlmm 116 GPIO_ACTIVE_HIGH>;
};

&jbd2520_left {
	primary-panel;
	vddi-supply = <&pmicDA9172>;

	reset-gpios = <&display_gpio_expander 0 GPIO_ACTIVE_LOW>;
};

&jbd2520_right {
	vddi-supply = <&pmicDA9172>;

	reset-gpios = <&display_gpio_expander 1 GPIO_ACTIVE_LOW>;
};

&left_display_temp {
	status = "okay";
};

&right_display_temp {
	status = "okay";
};
