/dts-v1/;
/plugin/;

#include "oatmeal-nff1-common.dtsi"
/* Reuse granola_oatmeal display integration (same JBD4021 panels, GPIOs, I2C mux) */
#include "granola-oatmeal-nff1-poc-jbd4021-display.dtsi"

/ {
	model = "Granola NFF1";
	compatible = "meta,oatmeal", "meta,granola-nff1";
	qcom,msm-id = <579 0x10000>;
	qcom,board-id = <34 0xcd>;
};

/* Granola has no volume keys */
&soc {
	gpio_keys {
		vol_up {
			status = "disabled";
		};

		vol_down {
			status = "disabled";
		};
	};
};
