// SPDX-License-Identifier: GPL-2.0

#include "vendor-base/qcom/display/neo-sde.dtsi"
#include "vendor-base/qcom/display/neo_luna-v2-sde-display.dtsi"
#include "granola-oatmeal-nff1-poc-display-gpios.dtsi"
#include "granola-oatmeal-jbd4021-panel-left.dtsi"
#include "granola-oatmeal-jbd4021-panel-right.dtsi"

&soc {
	i2c_mux: i2c-mux {
		compatible = "i2c-mux-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-parent = <&qupv3_se4_i2c>;

		pinctrl-names = "default";
		pinctrl-0 = <&i2c_mux_sel>;

		mux-gpios = <&tlmm 117 GPIO_ACTIVE_HIGH>;

		i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			jbd4021_left: jbd4021@5a {
				compatible = "meta,jbd4021-i2c";
				reg = <0x5a>;

				avdd-supply = <&disp_avdd_1p2>;
				vddi-supply = <&disp_vddi_1p8>;
				avee-supply = <&disp_avee_neg_2p2>;

				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						jbd4021_left_dsi_in: endpoint {
							remote-endpoint = <&ext_dsi0_out>;
						};
					};
				};
			};
		};

		i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			jbd4021_right: jbd4021@5a {
				compatible = "meta,jbd4021-i2c";
				reg = <0x5a>;

				avdd-supply = <&disp_avdd_1p2>;
				vddi-supply = <&disp_vddi_1p8>;
				avee-supply = <&disp_avee_neg_2p2>;

				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						jbd4021_right_dsi_in: endpoint {
							remote-endpoint = <&ext_dsi1_out>;
						};
					};
				};
			};
		};
	};
};

&sde_dsi {
	qcom,dsi-default-panel = <&dsi_jbd4021_640x480_75hz_left>;
	qcom,dsi-display-active;

	qcom,mdp = <&mdss_mdp>;
	qcom,display-type = "primary";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			ext_dsi0_out: endpoint {
				remote-endpoint = <&jbd4021_left_dsi_in>;
			};
		};
	};
};

&sde_dsi1 {
	qcom,dsi-default-panel = <&dsi_jbd4021_640x480_75hz_right>;
	qcom,dsi-display-active;

	qcom,mdp = <&mdss_mdp>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			ext_dsi1_out: endpoint {
				remote-endpoint = <&jbd4021_right_dsi_in>;
			};
		};
	};
};

&mdss_mdp {
	bridges = <&jbd4021_left>, <&jbd4021_right>;
};
