&tlmm {
	disp0_pos_en: disp0_pos_en {
		mux {
			pins = "gpio11";
			function = "gpio";
		};

		config {
			pins = "gpio11";
			drive-strength = <2>;
			bias-disable;
			output-low;
		};
	};

	disp0_neg_en: disp0_neg_en {
		mux {
			pins = "gpio97";
			function = "gpio";
		};

		config {
			pins = "gpio97";
			drive-strength = <2>;
			bias-disable;
			output-low;
		};
	};

	disp0_eldo_en: disp0_eldo_en {
		mux {
			pins = "gpio116";
			function = "gpio";
		};

		config {
			pins = "gpio116";
			drive-strength = <2>;
			bias-disable;
			output-low;
		};
	};

	disp0_reset_n: disp0_reset_n {
		mux {
			pins = "gpio53";
			function = "gpio";
		};

		config {
			pins = "gpio53";
			drive-strength = <2>;
			bias-disable;
			output-low;
		};
	};

	i2c_mux_sel: i2c_mux_sel {
		mux {
			pins = "gpio117";
			function = "gpio";
		};

		config {
			pins = "gpio117";
			drive-strength = <2>;
			bias-disable;
			output-low;
		};
	};
};

&soc {
	disp_vddi_1p8: disp_vddi_1p8 {
		compatible = "regulator-fixed";
		regulator-name = "disp_vddi_1p8";
		pinctrl-names = "default";
		pinctrl-0 = <&disp0_eldo_en>;
		gpio = <&tlmm 116 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <1250>;
		status = "okay";
	};

	disp_avdd_1p2: disp_avdd_1p2 {
		compatible = "regulator-fixed";
		regulator-name = "disp_avdd_1p2";
		pinctrl-names = "default";
		pinctrl-0 = <&disp0_pos_en>;
		gpio = <&tlmm 11 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <1250>;
		status = "okay";
	};

	disp_avee_neg_2p2: disp_avee_neg_2p2 {
		compatible = "regulator-fixed";
		regulator-name = "disp_avee_neg_2p2";
		pinctrl-names = "default";
		pinctrl-0 = <&disp0_neg_en>;
		gpio = <&tlmm 97 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <1250>;
		status = "okay";
	};
};

/* Display I2C on gpio20/21 - enable the controller */
&qupv3_se4_i2c {
	/* JBD2520 panels never ACK data bytes, need to ignore NACKs */
	/* TODO(T255394617): Remove for next hardware iteration */
	qcom,ignore-nack;
	status = "ok";
};

&qupv3_se10_i2c {
	status = "okay";
	pmicDA9172: pmicDA9172@6A {
		compatible = "pmic-i2c-da9172";
		regulator-name = "pmicDA9172";
		reg = <0x6A>;
		#thermal-sensor-cells = <0>;
		status = "okay";
	};

	left_display_temp: max31875@4b {
		compatible = "meta,max31875-i2c";
		reg = <0x4b>;
		#thermal-sensor-cells = <0>;
		status = "disabled";
	};

	right_display_temp: max31875@4c {
		compatible = "meta,max31875-i2c";
		reg = <0x4c>;
		#thermal-sensor-cells = <0>;
		status = "disabled";
	};
};

&display_panel_avdd {
	status = "disabled";    // release gpio11
};

&display_panel_avee {
	status = "disabled";    // release gpio109
};

&display_1p8_1p2_pwr_en {
	status = "disabled";    // release gpio116
};
