/dts-v1/;
/plugin/;

#include "greatwhite.dtsi"

/ {
	model = "Greatwhite PreP1";
	compatible = "meta,greatwhite", "meta,greatwhite-prep1";
	qcom,msm-id = <579 0x10000>;
	qcom,board-id = <34 0xb2>;
};

&max17332 {
	interrupts = <7 IRQ_TYPE_LEVEL_HIGH>;
	battery {
		/* disable FG update */
		fg-config-version   = /bits/ 8 <0>;
		cap-low-level		= /bits/ 8 <15>;
	};
};

/* Display card (Celeste) I2C bus: */

&qupv3_se4_i2c {
	status = "ok";
};

&sdhc_1 {
        meta,biwin-ffu-enable;
};

#include "meta-neo-action-button.dtsi"
