/dts-v1/;
/plugin/;

#include "oatmeal.dtsi"

/ {
	model = "Oatmeal NFF1";
	compatible = "meta,oatmeal", "meta,oatmeal-nff1";
	qcom,msm-id = <579 0x10000>;
	qcom,board-id = <34 0xc1>;
};

&tlmm {
	soc_alive_led_on: soc_alive_led_on {
		mux {
			pins = "gpio128";
			function = "gpio";
		};

		config {
			pins = "gpio128";
			drive-strength = <8>;
			bias-disable;
		};
	};
};

&soc {
	gpio_leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&soc_alive_led_on>;

		soc_alive {
			gpios = <&tlmm 128 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			retain-state-suspended;
		};
	};
};

&wlan_kiwi {
	qcom,board-id-override = /bits/ 8 <0xc0>;
};
