#include <dt-bindings/leds/common.h>
#include "meta-neo-common.dtsi"

&tlmm {
	gpio_power_btn: gpio_power_btn {
		mux {
			pins = "gpio39";
			function = "gpio";
		};

		config {
			pins = "gpio39";
			drive-strength = <2>;
			bias-pull-up;
			input-enable;
		};
	};

	gpio_action_btn: gpio_action_btn {
		mux {
			pins = "gpio62";
			function = "gpio";
		};

		config {
			pins = "gpio62";
			drive-strength = <2>;
			bias-pull-up;
			input-enable;
		};
	};

	gpio_vol_down: gpio_vol_down {
		mux {
			pins = "gpio101";
			function = "gpio";
		};

		config {
			pins = "gpio101";
			drive-strength = <2>;
			bias-pull-up;
			input-enable;
		};
	};

	clk_generator_acro: clk_generator_acro {
		mux {
			pins = "gpio73";
			function = "gpio";
		};

		config {
			pins = "gpio73";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};
	};

	clk_generator_mcu_on: clk_generator_mcu_on {
		mux {
			pins = "gpio74";
			function = "gpio";
		};

		config {
			pins = "gpio74";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};
	};

	clk_generator_mcu_off: clk_generator_mcu_off {
		mux {
			pins = "gpio74";
			function = "gpio";
		};

		config {
			pins = "gpio74";
			drive-strength = <8>;
			bias-disable;
			output-low;
		};
	};

	acro_enable_pin: acro_enable_pin {
		mux {
			pins = "gpio105";
			function = "gpio";
		};

		config {
			pins = "gpio105";
			drive-strength = <8>;
			bias-disable;
			output-low;
		};
	};

	acro_reset_pin: acro_reset_pin {
		mux {
			pins = "gpio32";
			function = "gpio";
		};

		config {
			pins = "gpio32";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};
	};

	dam_float_swd: dam_float_swd {
		mux {
			pins = "gpio152", "gpio153";
			function = "gpio";
		};

		config {
			pins = "gpio152", "gpio153";
			drive-strength = <6>;
			bias-disable;
			input-enable;
		};
	};

	dam_reset_pin: dam_reset_pin {
		mux {
			pins = "gpio151";
			function = "gpio";
		};

		config {
			pins = "gpio151";
			drive-strength = <8>;
			bias-disable;
			output-low;
		};
	};

	soc_acro_alive_on: soc_acro_alive_on {
		mux {
			pins = "gpio42";
			function = "gpio";
		};

		config {
			pins = "gpio42";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};
	};

	soc_mcu_alive_on: soc_mcu_alive_on {
		mux {
			pins = "gpio77";
			function = "gpio";
		};

		config {
			pins = "gpio77";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};
	};

	cc_alert_defaults: cc_alert_defaults {
		mux {
			pins = "gpio118";
			function = "gpio";
		};

		config {
			pins = "gpio118";
			bias-pull-up;
			input-enable;
		};
	};
};

&soc {
	/* base definition in neo-pmic-overlay.dtsi */
	gpio_keys {
		pinctrl-0 = <&gpio_power_btn
				&gpio_action_btn
				&gpio_vol_up
				&gpio_vol_down>;

		power_btn {
			label = "power_button";
			gpios = <&tlmm 39 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_POWER>;
			gpio-key,wakeup;
			debounce-interval = <15>;
			linux,can-disable;
		};

		action_btn {
			label = "action_button";
			gpios = <&tlmm 62 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_PLAYPAUSE>;
			gpio-key,wakeup;
			debounce-interval = <15>;
			linux,can-disable;
		};

		/* base definition in neo-pmic-overlay.dtsi */
		vol_up {
			label = "volume_up";
			gpio-key,wakeup;
		};

		vol_down {
			label = "volume_down";
			gpios = <&tlmm 101 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_VOLUMEDOWN>;
			gpio-key,wakeup;
			debounce-interval = <15>;
			linux,can-disable;
		};
	};

	qcom,cam-res-mgr {
		status = "disabled";
	};

	oculus,cam_fsync {
		status = "disabled";
	};

	acropolis_ctrl {
		compatible = "meta,acropolis-ctrl";
		clocks = <&rpmhcc RPMH_RF_CLK2>;
		clock-names = "clk_gen_xin";
		pinctrl-names = "default", "clk_generator_en";
		pinctrl-0 = <&acro_enable_pin &acro_reset_pin &soc_acro_alive_on>;
		pinctrl-1 = <&clk_generator_acro>;
		alive-gpios = <&tlmm 67 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&tlmm 105 GPIO_ACTIVE_HIGH>;
		mute-gpios = <&tlmm 139 GPIO_ACTIVE_HIGH>;
		pwron-gpios = <&tlmm 54 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&tlmm 32 GPIO_ACTIVE_LOW>;
		uart0-mux-gpios = <&tlmm 84 GPIO_ACTIVE_HIGH>;
	};

	/* 2-way slider */
	slider_switch {
		compatible = "gpio-decoder-irq";
		gpios = <&tlmm 135 GPIO_ACTIVE_HIGH>,
			<&tlmm 114 GPIO_ACTIVE_HIGH>;
		linux,axis = <0>; /* ABS_X */
		decoder-max-value = <2>;
		debounce-interval = <30>;
		wakeup-source;
	};

	dam_swd {
		compatible = "oculus,swd";
		pinctrl-names = "default";
		pinctrl-0 = <&dam_float_swd>;
		oculus,swd-flavor = "stm32l47xxx";
		oculus,fw-path = "dam_sbsfu_userapp.bin";
		oculus,swd-clk = <&tlmm 152 0>;
		oculus,swd-io = <&tlmm 153 0>;
		oculus,flash-block-size = <256>;
		oculus,flash-page-size = <2048>;
		oculus,flash-page-count = <256>;
		oculus,flash-page-retained-count = <1>;
		oculus,flash-page-bootloader-protected-count = <0>;
		oculus,flash-bank-count = <2>;
	};

	dam_ctrl {
		compatible = "meta,dam-ctrl";
		pinctrl-names = "default";
		pinctrl-0 = <&dam_reset_pin>;
		reset-gpios = <&tlmm 151 GPIO_ACTIVE_HIGH>;
		sbsfu-boot-gpios = <&tlmm 31 GPIO_ACTIVE_HIGH>;
	};
};

&rt600_nirq {
	mux {
		pins = "gpio132";
		function = "gpio";
	};

	config {
		pins = "gpio132";
		drive-strength = <2>;
		bias-pull-up;
		input-enabled;
	};
};

&rt600_crash_notify {
	mux {
		pins = "gpio110";
		function = "gpio";
	};

	config {
		pins = "gpio110";
		bias-pull-up;
		input-enabled;
	};
};

&rt600_boot2_high {
	mux {
		pins = "gpio22";
		function = "gpio";
	};

	config {
		pins = "gpio22";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};
};

&rt600_boot2_low {
	mux {
		pins = "gpio22";
		function = "gpio";
	};

	config {
		pins = "gpio22";
		drive-strength = <8>;
		bias-disable;
		output-low;
	};
};

&rt600_ctrl {
	/delete-property/ rt600-spare-gpio2;
	meta,oatmeal-init-sequence;
	pinctrl-names = "default", "flashing", "clk_enable", "clk_disable", "soc_mcu_alive";
	pinctrl-2 = <&clk_generator_mcu_on>;
	pinctrl-3 = <&clk_generator_mcu_off>;
	pinctrl-4 = <&soc_mcu_alive_on>;
	clock-names = "clk_generator_xin";
	clocks = <&rpmhcc RPMH_RF_CLK2>;
	rstn-gpio = <&tlmm 33 0>;
	nirq-gpio = <&tlmm 132 0>;
	crash-notify-gpio = <&tlmm 110 0>;
	mcu-en-gpio = <&tlmm 38 0>;
	mcu-alive-gpio = <&tlmm 41 0>;
	pca-on-gpio = <&tlmm 107 0>;
};

&mfi343s00176 {
	status = "disabled";
};

&st60a3g1 {
	status = "disabled";
};

&rt6160 {
	status = "disabled";
};

&pcie1 {
	status = "ok";
	qcom,boot-option = <0x1>;
};

&cam_cci0 {
	qcom,cam-sensor0 {
		status = "disabled";
	};
};

&eeprom_imx681 {
	status = "disabled";
};

&aw2026_led {
	status = "disabled";
};

&qupv3_se10_i2c {
	awinic_white@64 {
		compatible = "awinic,aw2016_led";
		reg = <0x64>;
		status = "ok";

		awinic,white {
			awinic,name = "aw2016_privacy_white";
			awinic,id = <0>;
			awinic,imax = <2>;
			awinic,led-current = <3>;
			awinic,max-brightness = <255>;
			awinic,rise-time-ms = <6>;
			awinic,hold-time-ms = <0>;
			awinic,fall-time-ms = <6>;
			awinic,off-time-ms = <4>;
		};
	};

	lp5562_power_white@30 {
		compatible = "ti,lp5562";
		reg = <0x30>;
		status = "ok";

		chan@0 {
			chan-name = "power_red";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <0>;
			color = <LED_COLOR_ID_RED>;
		};

		chan@1 {
			chan-name = "power_green";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <1>;
			color = <LED_COLOR_ID_GREEN>;
		};

		chan@2 {
			chan-name = "power_blue";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <2>;
			color = <LED_COLOR_ID_BLUE>;
		};

		chan@3 {
			chan-name = "lp5562_privacy_white";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <3>;
			color = <LED_COLOR_ID_WHITE>;
		};
	};

	lp5562_user@33 {
		compatible = "ti,lp5562";
		reg = <0x33>;
		status = "ok";

		chan@0 {
			chan-name = "user_red";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <0>;
			color = <LED_COLOR_ID_RED>;
		};

		chan@1 {
			chan-name = "user_green";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <1>;
			color = <LED_COLOR_ID_GREEN>;
		};

		chan@2 {
			chan-name = "user_blue";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <2>;
			color = <LED_COLOR_ID_BLUE>;
		};

		chan@3 {
			chan-name = "user_white";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <3>;
			color = <LED_COLOR_ID_WHITE>;
		};
	};

	stusb4500: stusb4500@29 {
		compatible = "st,stusb4500l";
		reg = <0x29>;
		status = "ok";
		interrupt-parent = <&tlmm>;
		interrupts = <118 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&cc_alert_defaults>;
		nvm-config = /bits/ 8 <0x00 0x00 0xb0 0xaa 0x00 0x45 0x00 0x00
				0x20 0x40 0x9d 0x1c 0xff 0x01 0x3c 0xdf
				0x02 0x40 0x0f 0x00 0x32 0x00 0xfc 0xf1
				0x00 0x19 0xb3 0xaa 0xa5 0x3a 0xaa 0x00
				0x00 0x4b 0x50 0x20 0x03 0x00 0x40 0xfb>;
	};

	wcn_temp_sensor: max31875@4d {
		compatible = "meta,max31875-i2c";
		reg = <0x4d>;
		#thermal-sensor-cells = <0>;
	};

	acro_temp_sensor: max31875@48 {
		compatible = "meta,max31875-i2c";
		reg = <0x48>;
		#thermal-sensor-cells = <0>;
	};
};

&pm8150_pon {
	interrupts = <0x0 0x8 0x0 IRQ_TYPE_EDGE_BOTH>,
		     <0x0 0x8 0x1 IRQ_TYPE_EDGE_BOTH>,
		     <0x0 0x8 0x2 IRQ_TYPE_EDGE_BOTH>;
	interrupt-names = "kpdpwr", "resin", "cblpwr";
	qcom,cblpwr-usb-conn;

	qcom,pon_1 {
		linux,code = <KEY_POWER2>;
	};

	qcom,pon_2 {
		linux,code = <KEY_PROG1>;
	};

	qcom,pon_3 {
		qcom,pon-type = <PON_POWER_ON_TYPE_CBLPWR>;
		qcom,pull-up;
		linux,code = <KEY_PROG2>;
	};
};

&usb0 {
	extcon = <&pm8150_pon>;
};

&max77813 {
	status = "disabled";
};

&mp28167 {
	status = "ok";

	/**
	 * Two resistors (R1 and R2) are connected to the FB pin and determine
	 * the voltage step size. Calculation for voltage step and max:
	 *
	 * R1 = 402000 ohm
	 * R2 = 110000 ohm
	 *
	 * R1 = (Vout - Vref) / Vref * R2
	 * Vref = Vreg * 0.8
	 * Vout = (R1 / R2 + 1) * 0.8 * 1000 * Vreg
	 * Vout_step = (R1 / R2 + 1) * 0.8 * 1000 = 3724 uV
	 * Vout_max = Vout_step * Vreg_mask (0x7FF) = 7623028 uV
	 */
	vout-step-uv = <3724>;

	/* The min_uV value is measured from the Vout output with no load */
	vout-min-uv = <23376>;

	/**
	 * An R_OC resistor is connected to the OC pin for current limit step size.
	 * The default ILIM_OUT is (3.56A / 21.5Kohm). The ILIM_OUT register value
	 * is 0x46 (70).
	 *
	 * R_OC = 21.5 kohm
	 *
	 * Check the ILIM_OUT corresponding to the R_OC here:
	 *
	 *   75K 64.9K   54.9K   44.2K   37.4K     30K   21.5K     15K
	 * 0.98A 1.15A   1.37A   1.72A   2.04A   2.54A   3.56A   5.11A
	 *
	 * Current step size is: 3.56/70 = 50 mA
	 * ILIM_MAX = 50 * 127mA = 6.35 A
	 */
	 ilim-step-ua = <50000>;
	 ilim-max-ua = <6350000>;
};

&max17332 {
	interrupts = <7 IRQ_TYPE_LEVEL_LOW>;
	max17332,max-bob-voltage-uv = <7623028>;

	/* Configuration for the Capricorn battery */
	battery {
		ialrt-max = <455>; /* mA */
		fg-config-version = /bits/ 8 <3>;
		fg-config = /bits/ 16 <0x180 0x0020
			0x181 0x012C
			0x182 0x1100
			0x183 0x1851
			0x184 0x0D51
			0x185 0x1400
			0x186 0x0B10
			0x187 0x07E7
			0x188 0x07FF
			0x189 0x05C0
			0x18A 0x06E6
			0x18B 0x06FF
			0x18C 0xDF95
			0x18D 0x3CEC
			0x18E 0x08E7
			0x18F 0x6203
			0x190 0x882B
			0x191 0xA359
			0x192 0xB78B
			0x193 0xBBCB
			0x194 0xBCFF
			0x195 0xBE22
			0x196 0xC0FC
			0x197 0xC3B8
			0x198 0xC588
			0x199 0xCD3D
			0x19A 0xD078
			0x19B 0xD466
			0x19C 0x320A
			0x19D 0x0000
			0x19E 0x965A
			0x19F 0x4686
			0x1A0 0x2050
			0x1A1 0x0603
			0x1A2 0x0000
			0x1A3 0x0000
			0x1A4 0x0000
			0x1A5 0x050A
			0x1A6 0x0310
			0x1A7 0x0A02
			0x1A8 0x0000
			0x1A9 0x050A
			0x1AA 0x0000
			0x1AB 0x0000
			0x1AC 0x0000
			0x1AD 0x0000
			0x1AE 0x0000
			0x1AF 0x0000
			0x1B0 0xF697
			0x1B1 0x0204
			0x1B2 0x3830
			0x1B3 0x204A
			0x1B4 0x0010
			0x1B5 0x027D
			0x1B6 0x023C
			0x1B7 0x2241
			0x1B8 0x0000
			0x1B9 0x02A6
			0x1BA 0x0000
			0x1BB 0x0708
			0x1BC 0x0000
			0x1BD 0x0000
			0x1BE 0x0000
			0x1BF 0x0000
			0x1C0 0x4209
			0x1C1 0x0079
			0x1C2 0x1E16
			0x1C3 0xE272
			0x1C4 0x0000
			0x1C5 0x05F0
			0x1C6 0x0000
			0x1C7 0x2000
			0x1C8 0x4000
			0x1C9 0x5188
			0x1CA 0x71B0
			0x1CB 0x3200
			0x1CC 0x04B0
			0x1CD 0x0000
			0x1CE 0x059B
			0x1CF 0x0005
			0x1D0 0x666A
			0x1D1 0x3118
			0x1D2 0xF000
			0x1D3 0x1900
			0x1D4 0x3E80
			0x1D5 0x1113
			0x1D6 0x7A2F
			0x1D7 0x3420
			0x1D8 0xCBA8
			0x1D9 0x090A
			0x1DA 0xAA8A
			0x1DB 0xBE29
			0x1DC 0x0478
			0x1DD 0xDEEF
			0x1DE 0x4358
			0x1DF 0x0000
			0x1E0 0x0000
			0x1E1 0x0000
			0x1E2 0x0000
			0x1E3 0x0000
			0x1E4 0x1800
			0x1E5 0x0000
			0x1E6 0x0000
			0x1E7 0x0000
			0x1E8 0x0000
			0x1E9 0x0000
			0x1EA 0x0000
			0x1EB 0x0000
			0x1EC 0x0000
			0x1ED 0x0000
			0x1EE 0x0000
			0x1EF 0x0000>;
	};
};

&thermal_zones {
	wcn_temp_zone: wcn-temp {
		polling-delay-passive = <0>;
		polling-delay = <0>;
		thermal-sensors = <&wcn_temp_sensor>;

		trips {
			active-config0 {
				temperature = <125000>;
				hysteresis = <1000>;
				type = "passive";
			};
		};
	};

	acro_temp_zone: acro-temp {
		polling-delay-passive = <0>;
		polling-delay = <0>;
		thermal-sensors = <&acro_temp_sensor>;

		trips {
			active-config0 {
				temperature = <125000>;
				hysteresis = <1000>;
				type = "passive";
			};
		};
	};
};
