/dts-v1/;
/plugin/;

#include "oatmeal.dtsi"

/ {
	model = "Oatmeal NFF0";
	compatible = "meta,oatmeal", "meta,oatmeal-nff0";
	qcom,msm-id = <579 0x10000>;
	qcom,board-id = <34 0xc0>;
};

&tlmm {
	soc_alive_led_on: soc_alive_led_on {
		mux {
			pins = "gpio128";
			function = "gpio";
		};

		config {
			pins = "gpio128";
			drive-strength = <8>;
			bias-disable;
		};
	};
};

&soc {
	gpio_leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&soc_alive_led_on>;

		soc_alive {
			gpios = <&tlmm 128 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			retain-state-suspended;
		};
	};
};

&wlan_kiwi {
	vdd-wlan-aon-supply = <&S4A>;
	vdd-wlan-dig-supply = <&S5A>;
};

&bluetooth {
	qcom,bt-vdd-aon-supply = <&S4A>;
	qcom,bt-vdd-rfaOp8_supply = <&S4A>;
	qcom,bt-vdd-rfa2-supply = <&S5A>;
};

&max77813 {
	status = "ok";
};

&max17332 {
	max17332,max-bob-voltage-uv = <4580000>;
	/delete-property/ max17332,reset-vsys-on-usb-insertion;

	charger {
		/delete-property/ extcon;
	};
};

&stusb4500 {
	compatible = "st,stusb4500";
	status = "ok";
};

/* Clock generator for Acro and SubGHz radio */
&clk_generator_acro {
	mux {
		pins = "gpio73", "gpio75";
	};

	config {
		pins = "gpio73", "gpio75";
	};
};

&wcn_temp_sensor {
	status = "disabled";
};

&acro_temp_sensor {
	status = "disabled";
};

&wcn_temp_zone {
	status = "disabled";
};

&acro_temp_zone {
	status = "disabled";
};

&acropolis_ctrl {
	uart0-mux-gpios = <&tlmm 84 GPIO_ACTIVE_HIGH>;
};

&lp5562_power {
	chan@3 {
		chan-name = "lp5562_privacy_white";
		led-cur = /bits/ 8 <0x20>;
		max-cur = /bits/ 8 <0x60>;
		reg = <3>;
		color = <LED_COLOR_ID_WHITE>;
	};
};

&qupv3_se1_2uart {
	status = "disabled";
};

&gpio_action_btn {
	mux {
		pins = "gpio62";
	};

	config {
		pins = "gpio62";
	};
};

&action_btn {
	gpios = <&tlmm 62 GPIO_ACTIVE_LOW>;
};

&ads1115 {
	status = "disabled";
};

&ina236 {
	status = "disabled";
};

&max77789 {
	status = "disabled";
};
