// SPDX-License-Identifier: GPL-2.0

/dts-v1/;
/plugin/;

#include "seacliff-evt.dtsi"

/ {
	model = "Seacliff (EVT2-MLBDOE1.2)";
	compatible = "qcom,kona";
	qcom,board-id = <66 73>;
};

&cm7120_snd {
	qcom,model = "kona-cm7120-tdm_evt2_doe2-snd-card";
};

&dsi_panel_pwr_supply_lab_ibb {
	qcom,panel-supply-entry@0 {
		reg = <0>;
		qcom,supply-name = "vddio";
		qcom,supply-min-voltage = <1800000>;
		qcom,supply-max-voltage = <1800000>;
		qcom,supply-enable-load = <62000>;
		qcom,supply-disable-load = <80>;
		qcom,supply-pre-on-sleep = <20>;
	};

	qcom,panel-supply-entry@1 {
		reg = <1>;
		qcom,supply-name = "right_panel_bias";
		qcom,supply-min-voltage = <6000000>;
		qcom,supply-max-voltage = <6000000>;
		qcom,supply-enable-load = <220000>;
	};

	qcom,panel-supply-entry@2 {
		reg = <2>;
		qcom,supply-name = "left_panel_bias";
		qcom,supply-min-voltage = <6000000>;
		qcom,supply-max-voltage = <6000000>;
		qcom,supply-enable-load = <220000>;
	};

	qcom,panel-supply-entry@3 {
		reg = <3>;
		qcom,supply-name = "vsp";
		qcom,supply-min-voltage = <1800000>;
		qcom,supply-max-voltage = <1800000>;
		qcom,supply-enable-load = <62000>;
		qcom,supply-disable-load = <0>;
		qcom,supply-pre-on-sleep = <10>;
		qcom,supply-pre-off-sleep = <10>;
	};

	qcom,panel-supply-entry@4 {
		reg = <4>;
		qcom,supply-name = "vsn";
		qcom,supply-min-voltage = <1800000>;
		qcom,supply-max-voltage = <1800000>;
		qcom,supply-enable-load = <62000>;
		qcom,supply-disable-load = <0>;
		qcom,supply-pre-on-sleep = <10>;
	};

	qcom,panel-supply-entry@5 {
		reg = <5>;
		qcom,supply-name = "blu-mcu";
		qcom,supply-min-voltage = <3120000>;
		qcom,supply-max-voltage = <3120000>;
		qcom,supply-enable-load = <857000>;
		qcom,supply-disable-load = <0>;
		qcom,supply-post-on-sleep = <0>;
	};

	qcom,panel-supply-entry@6 {
		reg = <6>;
		qcom,supply-name = "blu-spi";
		qcom,supply-min-voltage = <1800000>;
		qcom,supply-max-voltage = <1800000>;
		qcom,supply-enable-load = <62000>;
		qcom,supply-disable-load = <0>;
		qcom,supply-pre-on-sleep = <10>;
	};
};

&sde_dsi {
	right_panel_bias-supply = <&aw37504_right>;
	left_panel_bias-supply = <&aw37504_left>;
};

&tdm_pri_rx {
	qcom,msm-cpudai-tdm-data-delay = <1>;
};

&tdm_pri_tx {
	qcom,msm-cpudai-tdm-data-delay = <1>;
};

&qupv3_se8_i2c {
	status = "ok";
	qcom,clk-freq-out = <100000>;

	aw37504_right: aw37504@3e {
		compatible = "aw,aw37504";
		reg = <0x3e>;
		status = "ok";

		regulator-name = "aw37504-right-regulator";
		regulator-min-microvolt = <6000000>;
		regulator-max-microvolt = <6000000>;
		regulator-boot-on;
	};
};

&qupv3_se11_i2c {
	status = "ok";
	qcom,clk-freq-out = <100000>;

	aw37504_left: aw37504@3e {
		compatible = "aw,aw37504";
		reg = <0x3e>;
		status = "ok";

		regulator-name = "aw37504-left-regulator";
		regulator-min-microvolt = <6000000>;
		regulator-max-microvolt = <6000000>;
		regulator-boot-on;
	};
};

&soc {
	gpio_capacitor {
		compatible = "gpio-capacitor";
		pinctrl-names = "active", "suspend";
		pinctrl-0 = <&gpio_capacitor_active>;
		pinctrl-1 = <&gpio_capacitor_suspend>;
	};
};

&tlmm {
	gpio_capacitor_pins {
		gpio_capacitor_active: gpio_capacitor_active {
			mux {
				pins = "gpio52";
				function = "gpio";
			};

			config {
				pins = "gpio52";
				drive-strength = <2>;
				output-high;
				bias-pull-up;
			};
		};

		gpio_capacitor_suspend: gpio_capacitor_suspend {
			mux {
				pins = "gpio52";
				function = "gpio";
			};

			config {
				pins = "gpio52";
				drive-strength = <2>;
				output-low;
				bias-pull-down;
			};
		};
	};
};
