/dts-v1/;
/plugin/;

#include <dt-bindings/clock/qcom,gcc-kona.h>
#include <dt-bindings/clock/qcom,camcc-kona.h>
#include <dt-bindings/clock/qcom,rpmh.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

#include "seacliff.dtsi"

/ {
	model = "Seacliff (Dev0)";
	compatible = "qcom,kona-mtp", "qcom,kona", "qcom,mtp";
	qcom,board-id = <8 60>;
};

&pm8150a_l2 {
	status = "disabled";
};

&mdss_mdp {
	qcom,swap-mixers;
};

&qupv3_se19_spi {
	oculusnrf@0 {
		swd@0 {
			oculus,fw-path = "syncboss_DEV0_BOARD.bin";
		};
	};
};
