#include "../vendor/qcom/kona-pmic-overlay.dtsi"
#include "../vendor/qcom/kona-sde-display.dtsi"
#include "../vendor/qcom/kona-thermal-overlay.dtsi"

#include "kona-oculus.dtsi"
#include "seacliff-adc.dtsi"
#include "seacliff-audio.dtsi"
#include "seacliff-camera.dtsi"
#include "seacliff-fan.dtsi"
#include "seacliff-nautilus-clk.dtsi"
#include "seacliff-panel.dtsi"
#include "seacliff-projector.dtsi"
#include "seacliff-syncboss.dtsi"
#include "seacliff-ufs.dtsi"

&qupv3_se0_spi {
	status = "ok";
};

&qupv3_se5_2uart {
	status = "ok";
};

&qupv3_se6_4uart {
	status = "ok";
};

&qupv3_se8_i2c {
	status = "ok";
};

&qupv3_se9_i2c {
	status = "ok";
};

&qupv3_se12_2uart {
	status = "ok";
};

&qupv3_se13_spi {
	status = "ok";
};

&qupv3_se14_spi {
	status = "ok";
};

&qupv3_se15_i2c {
	status = "ok";
	#include "../vendor/qcom/smb1355.dtsi"
};

&smb1355 {
	status = "ok";
};

&smb1355_charger {
	status = "ok";
};

&qupv3_se18_spi {
	status = "ok";
};

&pm8150a_l1 {
	regulator-always-on;
};

&pm8150a_l5 {
	status = "disabled";
};

&pm8150a_l10 {
	regulator-always-on;
	regulator-min-microvolt = <2960000>;
	regulator-max-microvolt = <2960000>;
	qcom,init-voltage = <2960000>;
	qcom,init-mode = <4>; /* RPMH_REGULATOR_MODE_HPM */
};

&pm8150_l10 {
	regulator-always-on;
	qcom,init-voltage = <2960000>;
	qcom,init-mode = <4>; /* RPMH_REGULATOR_MODE_HPM */
};

&pm8150_l13 {
	regulator-always-on;
	regulator-min-microvolt = <2500000>;
	regulator-max-microvolt = <2500000>;
	qcom,init-voltage = <2500000>;
	qcom,init-mode = <4>; /* RPMH_REGULATOR_MODE_HPM */
};

&pm8150a_l2 {
	regulator-always-on;
	regulator-min-microvolt = <1050000>;
	regulator-max-microvolt = <1050000>;
	qcom,init-voltage = <1050000>;
	qcom,init-mode = <4>; /* RPMH_REGULATOR_MODE_HPM */
};

&pm8150a_l3 {
	regulator-always-on;
	qcom,init-voltage = <1200000>;
	qcom,init-mode = <4>; /* RPMH_REGULATOR_MODE_HPM */
};

&pm8150_l15 {
	regulator-always-on;
	qcom,init-mode = <4>; /* RPMH_REGULATOR_MODE_HPM */
};

&wlan {
	vdd-wlan-dig-supply = <&pm8150_s6>;
};

&vendor {
	kona_mtp_batterydata: qcom,battery-data {
		qcom,batt-id-range-pct = <15>;
		#include "4081226_Goertek_Hollywood_15k_3636mAh_Aug26th2019.dtsi"
		#include "4203348_Goertek_Hollywood_100k_3636mAh_Oct21st2019.dtsi"
		#include "3783416_Oculus_MontereyScud_3750mAh_averaged_MasterSlave_Aug2nd2019_PM8150BGUI10013.dtsi"
	};
};

&pm8150b_fg {
	status = "ok";
	qcom,battery-data = <&kona_mtp_batterydata>;
	qcom,hold-soc-while-full;
	qcom,linearize-soc;
	qcom,five-pin-battery;
	qcom,cl-wt-enable;
	/* ESR fast calibration */
	qcom,fg-esr-timer-chg-fast = <0 7>;
	qcom,fg-esr-timer-dischg-fast = <0 7>;
	qcom,fg-esr-timer-chg-slow = <0 96>;
	qcom,fg-esr-timer-dischg-slow = <0 96>;
	qcom,fg-esr-cal-soc-thresh = <26 230>;
	qcom,fg-esr-cal-temp-thresh = <10 40>;

	qcom,fg-sys-term-current = <(-100)>; // charger termination < fg termination see section 1.6.3 (80-PD996-14. Rev B)
	qcom,fg-cutoff-current = <180>; // battery capacity 3636 mah termination current = c/20
	qcom,fg-cutoff-voltage = <3400>;
	qcom,fg-empty-voltage = <2900>; // see section 4.4.6 (80-PF777-74. Rev C)
};

&pm8150b_pdphy {
	qcom,default-sink-caps = <5000 3000>, /* 5V @ 3A */
		<9000 3000>; /* 9V @ 3A */
};

&pm8150l_rgb_led {
	red {
		qcom,continuous-mode;
		qcom,default-brightness = <10>;
	};
	green {
		qcom,continuous-mode;
		qcom,default-brightness = <10>;
	};
	blue {
		qcom,continuous-mode;
		qcom,default-brightness = <10>;
	};
};

&dwc1 {
	status = "disabled";
};

&usb1 {
	status = "disabled";
};

&cam_sensor_mclk5_active {
	config {
		drive-strength = <6>; /* 6 MA */
	};
};

&cam_sensor_mclk5_suspend {
	config {
		drive-strength = <6>; /* 6 MA */
	};
};
