/dts-v1/;
/plugin/;

#include "seacliff-p2.dtsi"

/ {
	model = "Seacliff (Dev2)";
	compatible = "qcom,kona-mtp", "qcom,kona", "qcom,mtp";
	qcom,board-id = <8 63>;
};

&projector {
	status = "disabled";
};

&qupv3_se19_spi {
	oculusnrf@0 {
		swd@0 {
			oculus,fw-path = "syncboss_DEV2_BOARD.bin";
		};
	};
};
