&tlmm {
	fan_tach_default_0: fan_tach_default@0 {
		mux {
			pins = "gpio71";
			function = "gpio";
		};
		config {
			pins = "gpio71";
			drive-strength = <4>;
			input-enable;
		};
	};

	fan_tach_default_1: fan_tach_default@1 {
		mux {
			pins = "gpio72";
			function = "gpio";
		};
		config {
			pins = "gpio72";
			drive-strength = <4>;
			input-enable;
		};
	};
};

&pm8150l_gpios {
	fan_pwm@0 {
		fan_pwm_default_0: fan_pwm_default_0 {
			pins = "gpio6";
			function = "func1";
			bias-disable;
			power-source = <0>;
			output-low;
			qcom,drive-strength = <3>;
			drive-push-pull;
			status = "okay";
		};
	};

	fan_pwm@1 {
		fan_pwm_default_1: fan_pwm_default_1 {
			pins = "gpio10";
			function = "func1";
			bias-disable;
			power-source = <1>;
			output-low;
			qcom,drive-strength = <3>;
			drive-push-pull;
			status = "okay";
		};
	};
};

&pm8150l_pwm {
	status = "okay";
};

&spmi_bus {
	qcom,pm8150l@5 {
		fan_0: pwm-tach-fan@0 {
			reg = <0>;
			compatible = "pwm-tach-fan";
			fan,tach-gpio = <&tlmm 71 0x0>;
			interrupt-parent = <&tlmm>;
			interrupts = <13 1>;
			interrupt-names = "fan_irq";
			/*25KHz -> 40000ns*/
			pwms = <&pm8150l_pwm 0 40000>;
			pinctrl-names = "default";
			pinctrl-0 = <&fan_pwm_default_0
				&fan_tach_default_0>;
			status = "okay";
			#cooling-cells = <2>;
			cooling-levels = <0 1000 2000 3000 4000 5000 6000>;
		};

		fan_1: pwm-tach-fan@1 {
			reg = <1>;
			compatible = "pwm-tach-fan";
			fan,tach-gpio = <&tlmm 72 0x0>;
			interrupt-parent = <&tlmm>;
			interrupts = <13 1>;
			interrupt-names = "fan_irq";
			/*25KHz -> 40000ns*/
			pwms = <&pm8150l_pwm 1 40000>;
			pinctrl-names = "default";
			pinctrl-0 = <&fan_pwm_default_1
				&fan_tach_default_1>;
			status = "okay";
			#cooling-cells = <2>;
			cooling-levels = <0 1000 2000 3000 4000 5000 6000>;
		};
	};
};

&thermal_zones {
	batt-fan {
		polling-delay-passive = <0>;
		polling-delay = <0>;
		thermal-sensors = <&pm8150b_adc_tm ADC_BAT_THERM_PU2>;
		thermal-governor = "step_wise";
		wake-capable-sensor;
		trips {
			batt_fan_trip0: batt_fan_trip0 {
				temperature = <400>;
				hysteresis = <20>;
				type = "active";
			};

			batt_fan_trip1: batt_fan_trip1 {
				temperature = <480>;
				hysteresis = <20>;
				type = "active";
			};
		};

		cooling-maps {
			batt_fan_map0: batt_fan_map0 {
				trip = <&batt_fan_trip0>;
				/* RPM: 0 - 3000 */
				cooling-device = <&fan_0 0 3>;
			};

			batt_fan_map1: batt_fan_map1 {
				trip = <&batt_fan_trip1>;
				/* RPM: 3000 - 6000 */
				cooling-device = <&fan_0 3 6>;
			};
		};
	};

	cpu0-3-fan {
		polling-delay-passive = <0>;
		polling-delay = <0>;
		thermal-sensors = <&tsens0 5>;
		thermal-governor = "step_wise";
		wake-capable-sensor;
		trips {
			cpu0_3_fan_trip0: cpu0_3_fan_trip0 {
				temperature = <45000>;
				hysteresis = <1000>;
				type = "active";
			};

			cpu0_3_fan_trip1: cpu0_3_fan_trip1 {
				temperature = <85000>;
				hysteresis = <1000>;
				type = "active";
			};
		};

		cooling-maps {
			cpu0_3_fan_map0: cpu0_3_fan_map0 {
				trip = <&cpu0_3_fan_trip0>;
				/* RPM: 0 - 3000 */
				cooling-device = <&fan_0 0 3>;
			};

			cpu0_3_fan_map1: cpu0_3_fan_map1 {
				trip = <&cpu0_3_fan_trip1>;
				/* RPM: 3000 - 6000 */
				cooling-device = <&fan_0 3 6>;
			};
		};
	};

	cpu4-7-fan {
		polling-delay-passive = <0>;
		polling-delay = <0>;
		thermal-sensors = <&tsens0 6>;
		thermal-governor = "step_wise";
		wake-capable-sensor;
		trips {
			cpu4_7_fan_trip0: cpu4_7_fan_trip0 {
				temperature = <45000>;
				hysteresis = <1000>;
				type = "active";
			};

			cpu4_7_fan_trip1: cpu4_7_fan_trip1 {
				temperature = <85000>;
				hysteresis = <1000>;
				type = "active";
			};
		};

		cooling-maps {
			cpu4_7_fan_map0: cpu4_7_fan_map0 {
				trip = <&cpu4_7_fan_trip0>;
				/* RPM: 0 - 3000 */
				cooling-device = <&fan_1 0 3>;
			};

			cpu4_7_fan_map1: cpu4_7_fan_map1 {
				trip = <&cpu4_7_fan_trip1>;
				/* RPM: 3000 - 6000 */
				cooling-device = <&fan_1 3 6>;
			};
		};
	};

	gpu0-fan {
		polling-delay-passive = <0>;
		polling-delay = <0>;
		thermal-sensors = <&tsens0 15>;
		thermal-governor = "step_wise";
		wake-capable-sensor;
		trips {
			gpu0_fan_trip0: gpu0_fan_trip0 {
				temperature = <45000>;
				hysteresis = <1000>;
				type = "active";
			};

			gpu0_fan_trip1: gpu0_fan_trip1 {
				temperature = <85000>;
				hysteresis = <1000>;
				type = "active";
			};
		};

		cooling-maps {
			gpu0_fan_map0: gpu0_fan_map0 {
				trip = <&gpu0_fan_trip0>;
				/* RPM: 0 - 3000 */
				cooling-device = <&fan_0 0 3>;
			};

			gpu0_fan_map1: gpu0_fan_map1 {
				trip = <&gpu0_fan_trip1>;
				/* RPM: 3000 - 6000 */
				cooling-device = <&fan_0 3 6>;
			};
		};
	};

	gpu1-fan {
		polling-delay-passive = <0>;
		polling-delay = <0>;
		thermal-sensors = <&tsens1 8>;
		thermal-governor = "step_wise";
		wake-capable-sensor;
		trips {
			gpu1_fan_trip0: gpu1_fan_trip0 {
				temperature = <45000>;
				hysteresis = <1000>;
				type = "active";
			};

			gpu1_fan_trip1: gpu1_fan_trip1 {
				temperature = <85000>;
				hysteresis = <1000>;
				type = "active";
			};
		};

		cooling-maps {
			gpu1_fan_map0: gpu1_fan_map0 {
				trip = <&gpu1_fan_trip0>;
				/* RPM: 0 - 3000 */
				cooling-device = <&fan_1 0 3>;
			};

			gpu1_fan_map1: gpu1_fan_map1 {
				trip = <&gpu1_fan_trip1>;
				/* RPM: 3000 - 6000 */
				cooling-device = <&fan_1 3 6>;
			};
		};
	};
};
