/dts-v1/;
/plugin/;

#include "seacliff-p2.dtsi"
#include "seacliff-dd.dtsi"

/ {
	model = "Seacliff (P2) DD";
	compatible = "qcom,kona-mtp", "qcom,kona", "qcom,mtp";
	qcom,board-id = <8 98>;
};

&cypd3177 {
	status = "disabled";
};

&qupv3_se19_spi {
	oculusnrf@0 {
		swd@0 {
			oculus,fw-path = "syncboss_DOUBLE_DOUBLE_P2_BOARD.bin";
		};
	};
};
