/dts-v1/;
/plugin/;

#include "seacliff-p2.dtsi"

/ {
	model = "Seacliff (P2)";
	compatible = "qcom,kona-mtp", "qcom,kona", "qcom,mtp";
	qcom,board-id = <8 64>;
};

&qupv3_se19_spi {
	oculusnrf@0 {
		swd@0 {
			oculus,fw-path = "syncboss_P2_BOARD.bin";
		};
	};
};
