/dts-v1/;
/plugin/;

#include "seacliff-p3.dtsi"
#include "seacliff-dd.dtsi"

/ {
	model = "Seacliff (P3) DD";
	compatible = "qcom,kona-mtp", "qcom,kona", "qcom,mtp";
	qcom,board-id = <8 99>;
};

&cypd3177 {
	status = "disabled";
};
