#include <dt-bindings/clock/qcom,gcc-kona.h>
#include <dt-bindings/clock/qcom,camcc-kona.h>
#include <dt-bindings/clock/qcom,rpmh.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

#include "seacliff.dtsi"
#include "seacliff-bcmdhd.dtsi"
#include "seacliff-blu.dtsi"
#include "seacliff-eye-face-led.dtsi"

&cam_cci0 {
	qcom,cam-sensor0 {
		csiphy-sd-index = <2>;
	};
	qcom,cam-sensor1 {
		csiphy-sd-index = <4>;
	};
	qcom,cam-sensor2 {
		csiphy-sd-index = <1>;
	};
	qcom,cam-sensor3 {
		csiphy-sd-index = <5>;
	};
	qcom,cam-sensor4 {
		csiphy-sd-index = <0>;
	};
	qcom,cam-sensor5 {
		csiphy-sd-index = <3>;
	};
};

&dsi_panel_pwr_supply_lab_ibb {
	qcom,panel-supply-entry@3 {
		qcom,supply-min-voltage = <3120000>;
		qcom,supply-max-voltage = <3120000>;
	};
};

&pm8150a_l4 {
	status = "disabled";
};

&pm8150a_l6 {
	status = "disabled";
};

&pm8150a_l9 {
	regulator-max-microvolt = <3000000>;
	qcom,init-voltage = <3000000>;
	qcom,init-mode = <4>; /* RPMH_REGULATOR_MODE_HPM */
};

&pm8150a_l11 {
	qcom,init-mode = <4>; /* RPMH_REGULATOR_MODE_HPM */
	qcom,init-voltage = <3120000>;
};

&pm8150_l7 {
	qcom,init-voltage = <1800000>;
	qcom,init-mode = <4>; /* RPMH_REGULATOR_MODE_HPM */
};

&pm8150b_charger {
	io-channels = <&pm8150b_vadc ADC_USB_IN_V_16>,
		      <&pm8150b_vadc ADC_MID_CHG_DIV6>,
		      <&pm8150b_vadc ADC_USB_IN_I>,
		      <&pm8150b_vadc ADC_SBUx>,
		      <&pm8150b_vadc ADC_VPH_PWR>,
		      <&pm8150b_vadc ADC_CHG_TEMP>,
		      <&pm8150b_vadc ADC_GPIO4>;
	io-channel-names = "usb_in_voltage",
			   "mid_voltage",
			   "usb_in_current",
			   "sbux_res",
			   "vph_voltage",
			   "chg_temp",
			   "psns_res";
	dcin-icl-uv = <40000>;
};

&pm8150b_vadc {
	psns_vol@15 {
		reg = <ADC_GPIO4>;
		label = "psns_vol";
		qcom,pre-scaling = <1 1>;
	};
};

&qupv3_se0_spi {
	status = "disabled";
};

&qupv3_se5_2uart {
	status = "disabled";
};
